/**
 * @file
 * Footer Styling.
 */

footer.site-footer {
    padding: $spacer 0;
    background: #000 !important;
    color: #fff;
    .layout-container {
        padding: 0 $spacer;
    }
    a {
        color: #fff;
    }
}

.region-footer-third .block {
    padding: 0 4rem 0 0;
}


/* Footer Top Styling. */

.site-footer__top .content {
    margin-top: 0;
}


/* Footer Bottom Styling. */

.site-footer__bottom .block {
    margin: ($spacer / 2) 0;
}

.site-footer__bottom .content {
    padding: ($spacer / 2) 0;
    margin-top: 0;
}
